/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.music-control-button {

    -fx-background-radius: 50%; /* Hacer que los bordes sean redondeados */
    -fx-min-width: 35px; /* Establecer el ancho mínimo */
    -fx-min-height: 35px; /* Establecer la altura mínima */
    -fx-max-width: 35px; /* Establecer el ancho máximo */
    -fx-max-height: 35px; /* Establecer la altura máxima */
}